*,
*::before,
*::after {
  box-sizing: border-box;
}

 
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
     background-image: url("/img/bawah.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
    
header.navbar-container {
    width: 100%;
    padding: 15px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
header.navbar-container .logo img {
    width: 220px;
    height: auto;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
 
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
 
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: black;
 
  transition: all 0.2s ease-in-out;
}

.nav-list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: #e9ec06;
  color: white;
}
 
main {
    width:100%;
    max-width:1200px;

    margin:auto;
    padding:40px;

    display:flex;
    flex-direction:column;

    gap:30px;
}
 
main .content {
    max-width: 1200px;
    margin: auto;

    display: flex;
    gap: 40px;

    align-items: flex-start;
}
 
main .content .content-description {
    border: 5px dotted;
    border-radius: 10px;
    flex: 1;
    margin-bottom:20px;
}
 
main .content .content-description .title {
  margin-block: 1rem;
  font-size: 5rem;
}
 
main .content .content-description p {
    padding: 15px;
    font-weight: bold;
    font-size:20px;
    line-height:30px;
    text-align:justify;
}

.btn{
    display: inline-block;
    padding: 15px 35px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn:hover{
    background: yellow;
    color: black;
}
 
main .content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
 
  background-color: #000000;
 
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
 
  cursor: pointer;
  transition: all 0.15s ease-in;
}
 
main .content .content-description button:hover {
  border: 3px solid #2d3e50;
  background-color: transparent;
 
  color: #2d3e50;
}
 
main .content .content-image {
    flex:1;
    display:flex;
    justify-content:center;
}
 
main .content .content-image img {
  width: 270px;
  min-width: 250px;
  margin: auto;
  border: 1px;
}
 
main aside {
  inset-block: 0;
  inset-inline-end: 0;
}


main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #2d3e50;
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
 
main aside .social-media li {
  list-style-type: none;
}
 
main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
 
  transition: all 0.1s ease-in-out;
}
 
main aside .social-media li a:hover {
  color: #89b0d9;
}

@media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }
   
    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }
   
    main .content {
      flex-direction: column;
      gap: 2rem;
    }
  }

  footer {
    color:white;
    text-align:center;
    padding:20px;
}

footer .social-media {
    max-width: 1200px;
    margin: 0 auto;
}

footer .social-media ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    list-style: none;
    margin: 0;
    padding: 0;
}

footer .social-media li a {
    color: black;
    font-size: 28px;
    text-decoration: none;
    transition: 0.3s;
}

footer .social-media li a:hover {
    color: white;
}
.sidebar{
  position: fixed;
  top: 90px;
  right: 20px;

  width: 220px;

  background: rgba(255,255,255,.2);
  backdrop-filter: blur(10px);

  border-radius: 15px;
  padding: 20px;

  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}


.sidebar ul{
  list-style:none;
  padding:0;
}

.sidebar li{
  margin:12px 0;
}

.sidebar a{
  text-decoration:none;
  color:#000;
  font-weight:bold;
  display:block;
  padding:8px 12px;
  border-radius:8px;
  transition:.3s;
}

.sidebar a:hover{
  background:#ffe14d;
}
